// CSS reset
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* --------------------- hero section syling ----------------------- */
#hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(101deg, #ffffff 50%, #f6b400 50.1%);
}

#hero header {
    height: 7%;
    padding: 1% 2%;
}

#hero header nav {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-g {
    width: 20%;
}

a.logo-link {
    text-decoration: none;
    display: inline-block;
}

nav img {
    vertical-align: middle;
}

p.logo-text {
    display: inline;
    color: #f6b400;
    font-weight: 800;
    font-size: 3rem;
    vertical-align: middle;
    font-family: "Sansita Swashed", cursive;
}

p.logo-text .black {
    color: black;
}

.links {
    width: 80%;
    height: 100%;
    text-align: right;
}

.links ul {
    display: inline;
}

.links li {
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0 2%;
}

li a {
    text-decoration: none;
    color: #000;
    padding-bottom: 7%;
}

li a:hover,
a:active,
a:focus {
    border-bottom: solid 0.4rem #ff6d20;
}

.cart {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    height: vh;
    margin-left: 20%;
    margin-right: 5%;
}

.cart .icon svg {
    width: 1.6rem;
}

.badge {
    background-color: #ff6d20;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    padding: 0.3rem 0.6rem;
    top: -40%;
    right: -20%;
}

/*------------------ hero content styling ----------------*/
.hero-content {
    display: flex;
    height: 93%;
    align-items: center;
    padding: 3%;
}

.hero-content-a {
    padding-bottom: 5%;
    width: 48%;
}
.hero-content-a h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    line-height: 6rem;
}

.hero-content-a h2 {
    margin-top: 7%;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    color: #615757;
}

.hero-content button {
    cursor: pointer;
    background-color: #fa9529;
    margin-top: 15%;
    margin-left: 7%;
    padding: 3% 6%;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 5rem 5rem 0 5rem;
}

.hero-content-b img {
    height: 55rem;
    margin-top: -20%;
}

/* ----------------- services section styling --------------*/
#services {
    background-color: #f7fdf6;
    display: flex;
    padding: 10% 5%;
    align-items: top;
    justify-content: center;
}

.delivery {
    text-align: center;
    border: solid 0.15rem #550312;
    border-radius: 20px;
    padding: 9% 5% 5% 5%;
    margin: 0 2%;
    height: 45vh;
    width: 40%;
}
.quality,
.tasty {
    text-align: center;
    border: solid 0.15rem #550312;
    border-radius: 20px;
    padding: 5% 3%;
    margin: 4% 2%;
    height: 35vh;
    width: 30%;
}

.quality svg {
    width: 7rem;
    height: 7rem;
    color: #f6b400;
}

.delivery svg {
    width: 7rem;
    height: 7rem;
    color: #f6b400;
}

.tasty svg {
    width: 7rem;
    height: 7rem;
    color: #f6b400;
}

.quality h3,
.delivery h3,
.tasty h3 {
    color: #550312;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.quality p,
.delivery p,
.tasty p {
    font-size: 1.1rem;
    line-height: 2rem;
}
